In [43]:
import pandas as pd

In [44]:
train_data = pd.read_csv("train.csv")
test_data = pd.read_csv("test.csv")
train_data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [45]:
test_data.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

In [46]:
train_data.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

In [47]:
train_data['Cabin'].isna().sum()

687

In [48]:
train_data.drop(['Name', 'Ticket', 'Cabin'], axis=1, inplace=True)
test_data.drop(['Name', 'Ticket', 'Cabin'], axis=1, inplace=True)

In [49]:
train_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Sex          891 non-null    object
 4   Age          714 non-null    float64
 5   SibSp        891 non-null    int64
 6   Parch        891 non-null    int64
 7   Fare         891 non-null    float64
 8   Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(2)
memory usage: 62.8+ KB

In [50]:
train_data['Embarked'].fillna(train_data['Embarked'].mode()[0], inplace=True)
test_data['Embarked'].fillna(test_data['Embarked'].mode()[0], inplace=True)

In [51]:
train_data.isna().sum()

PassengerId      0
Survived         0
Pclass           0
Sex              0
Age            177
SibSp            0
Parch            0
Fare             0
Embarked         0
dtype: int64

In [52]:
train_data['Age'].fillna(train_data['Age'].mean(), inplace=True)
test_data['Age'].fillna(test_data['Age'].mean(), inplace=True)

In [53]:
train_data.isna().sum()

PassengerId    0
Survived       0
Pclass         0
Sex            0
Age            0
SibSp          0
Parch          0
Fare           0
Embarked       0
dtype: int64

In [54]:
train_data['Sex'] = train_data['Sex'].apply(
    lambda x: 1 if x == 'male' else 0
)
test_data['Sex'] = test_data['Sex'].apply(
    lambda x: 1 if x == 'male' else 0
)

In [58]:
train_data = pd.get_dummies(train_data, dtype=int)
test_data = pd.get_dummies(test_data, dtype=int)

In [72]:
test_data.head()

,PassengerId,Pclass,Sex,Age,SibSp,Parch,Fare,Embarked_C,Embarked_Q,Embarked_S,tot_rels
0,892,3,1,34.5,0,0,7.8292,0,1,0,0
1,893,3,0,47.0,1,0,7.0000,0,0,1,1
2,894,2,1,62.0,0,0,9.6875,0,1,0,0
3,895,3,1,27.0,0,0,8.6625,0,0,1,0
4,896,3,0,22.0,1,1,12.2875,0,0,1,2

In [60]:
train_data['tot_rels'] = train_data['SibSp'] + train_data['Parch']
test_data['tot_rels'] = test_data['SibSp'] + test_data['Parch']

In [71]:
train_data.head()

,PassengerId,Survived,Pclass,Sex,Age,SibSp,Parch,Fare,Embarked_C,Embarked_Q,Embarked_S,tot_rels
0,1,0,3,1,22.0,1,0,7.2500,0,0,1,1
1,2,1,1,0,38.0,1,0,71.2833,1,0,0,1
2,3,1,3,0,26.0,0,0,7.9250,0,0,1,0
3,4,1,1,0,35.0,1,0,53.1000,0,0,1,1
4,5,0,3,1,35.0,0,0,8.0500,0,0,1,0

In [62]:
import numpy as np

In [63]:
X = np.array(train_data.drop(columns=['PassengerId','Survived'], axis=1))
y = np.array(train_data['Survived'])

In [66]:
from sklearn.model_selection import train_test_split

In [67]:
X_train, X_val, y_train, y_val = train_test_split(X, y, test_size=0.2, random_state=2)

In [86]:
X_test = np.array(test_data.drop(columns=['PassengerId'], axis=1))

In [88]:
X_test.shape
X_train.shape

(712, 10)

In [73]:
import keras
from keras.layers import Dense

2024-02-15 13:42:11.893965: I tensorflow/core/platform/cpu_feature_guard.cc:193] This TensorFlow binary is optimized with oneAPI Deep Neural Network Library (oneDNN) to use the following CPU instructions in performance-critical operations:  SSE4.1 SSE4.2 AVX AVX2 FMA
To enable them in other operations, rebuild TensorFlow with the appropriate compiler flags.

In [237]:
model = keras.Sequential(
    [
        keras.Input(shape = (10,)),
        Dense(512, activation='sigmoid', name='layer_1'),
        Dense(512, activation='sigmoid', name='layer_2'),
        Dense(1, activation='sigmoid', name='layer_3')
    ]
)

In [238]:
model.summary()

Model: "sequential_17"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 layer_1 (Dense)             (None, 512)               5632

 layer_2 (Dense)             (None, 512)               262656

 layer_3 (Dense)             (None, 1)                 513

=================================================================
Total params: 268,801
Trainable params: 268,801
Non-trainable params: 0
_________________________________________________________________

In [224]:
bc = keras.losses.BinaryCrossentropy(
        from_logits=False,
        label_smoothing=0.0,
        axis=-1,
        reduction="sum_over_batch_size",
        name="binary_crossentropy",
)

In [225]:
callback = keras.callbacks.EarlyStopping(
    monitor="val_loss",
    min_delta=0,
    patience=15,
    verbose=0,
    mode="auto",
    baseline=None,
    restore_best_weights=True,
    start_from_epoch=0,
)

In [239]:
model.compile(loss=bc, optimizer='adam', metrics=[keras.metrics.BinaryAccuracy()])

In [240]:
model.fit(X_train, y_train, epochs=200, validation_data=(X_val, y_val), callbacks=[callback])

Epoch 1/200
23/23 [==============================] - 1s 17ms/step - loss: 0.6153 - binary_accuracy: 0.6798 - val_loss: 0.6240 - val_binary_accuracy: 0.6648
Epoch 2/200
23/23 [==============================] - 0s 11ms/step - loss: 0.6010 - binary_accuracy: 0.6910 - val_loss: 0.6452 - val_binary_accuracy: 0.6816
Epoch 3/200
23/23 [==============================] - 0s 11ms/step - loss: 0.5886 - binary_accuracy: 0.6994 - val_loss: 0.6388 - val_binary_accuracy: 0.6872
Epoch 4/200
23/23 [==============================] - 0s 10ms/step - loss: 0.5666 - binary_accuracy: 0.7275 - val_loss: 0.6588 - val_binary_accuracy: 0.6872
Epoch 5/200
23/23 [==============================] - 0s 11ms/step - loss: 0.5469 - binary_accuracy: 0.7135 - val_loss: 0.5776 - val_binary_accuracy: 0.7151
Epoch 6/200
23/23 [==============================] - 0s 11ms/step - loss: 0.5482 - binary_accuracy: 0.7303 - val_loss: 0.8841 - val_binary_accuracy: 0.5587
Epoch 7/200
23/23 [==============================] - 0s 10ms/step - loss: 0.5463 - binary_accuracy: 0.7149 - val_loss: 0.5540 - val_binary_accuracy: 0.7598
Epoch 8/200
23/23 [==============================] - 0s 10ms/step - loss: 0.5024 - binary_accuracy: 0.7472 - val_loss: 0.6028 - val_binary_accuracy: 0.6648
Epoch 9/200
23/23 [==============================] - 0s 9ms/step - loss: 0.4973 - binary_accuracy: 0.7444 - val_loss: 0.6162 - val_binary_accuracy: 0.6816
Epoch 10/200
23/23 [==============================] - 0s 9ms/step - loss: 0.4901 - binary_accuracy: 0.7669 - val_loss: 0.5955 - val_binary_accuracy: 0.6816
Epoch 11/200
23/23 [==============================] - 0s 11ms/step - loss: 0.4716 - binary_accuracy: 0.7753 - val_loss: 0.5412 - val_binary_accuracy: 0.7654
Epoch 12/200
23/23 [==============================] - 0s 9ms/step - loss: 0.4625 - binary_accuracy: 0.7823 - val_loss: 0.5204 - val_binary_accuracy: 0.7989
Epoch 13/200
23/23 [==============================] - 0s 11ms/step - loss: 0.4724 - binary_accuracy: 0.7795 - val_loss: 0.5173 - val_binary_accuracy: 0.7877
Epoch 14/200
23/23 [==============================] - 0s 8ms/step - loss: 0.4451 - binary_accuracy: 0.7963 - val_loss: 0.5153 - val_binary_accuracy: 0.7821
Epoch 15/200
23/23 [==============================] - 0s 10ms/step - loss: 0.4589 - binary_accuracy: 0.7879 - val_loss: 0.6831 - val_binary_accuracy: 0.6592
Epoch 16/200
23/23 [==============================] - 0s 9ms/step - loss: 0.4984 - binary_accuracy: 0.7528 - val_loss: 0.6845 - val_binary_accuracy: 0.6592
Epoch 17/200
23/23 [==============================] - 0s 11ms/step - loss: 0.4944 - binary_accuracy: 0.7865 - val_loss: 0.5355 - val_binary_accuracy: 0.7821
Epoch 18/200
23/23 [==============================] - 0s 13ms/step - loss: 0.4599 - binary_accuracy: 0.7795 - val_loss: 0.5255 - val_binary_accuracy: 0.7709
Epoch 19/200
23/23 [==============================] - 0s 11ms/step - loss: 0.4396 - binary_accuracy: 0.8020 - val_loss: 0.5257 - val_binary_accuracy: 0.7709
Epoch 20/200
23/23 [==============================] - 0s 10ms/step - loss: 0.4305 - binary_accuracy: 0.8202 - val_loss: 0.5450 - val_binary_accuracy: 0.7542
Epoch 21/200
23/23 [==============================] - 0s 10ms/step - loss: 0.4273 - binary_accuracy: 0.8062 - val_loss: 0.5079 - val_binary_accuracy: 0.7654
Epoch 22/200
23/23 [==============================] - 0s 10ms/step - loss: 0.4208 - binary_accuracy: 0.8244 - val_loss: 0.5490 - val_binary_accuracy: 0.7709
Epoch 23/200
23/23 [==============================] - 0s 9ms/step - loss: 0.4394 - binary_accuracy: 0.8006 - val_loss: 0.5268 - val_binary_accuracy: 0.7709
Epoch 24/200
23/23 [==============================] - 0s 11ms/step - loss: 0.4544 - binary_accuracy: 0.7963 - val_loss: 0.5982 - val_binary_accuracy: 0.7430
Epoch 25/200
23/23 [==============================] - 0s 11ms/step - loss: 0.4258 - binary_accuracy: 0.8104 - val_loss: 0.5615 - val_binary_accuracy: 0.7821
Epoch 26/200
23/23 [==============================] - 0s 9ms/step - loss: 0.4522 - binary_accuracy: 0.7992 - val_loss: 0.5413 - val_binary_accuracy: 0.7933
Epoch 27/200
23/23 [==============================] - 0s 9ms/step - loss: 0.4453 - binary_accuracy: 0.7992 - val_loss: 0.5643 - val_binary_accuracy: 0.7542
Epoch 28/200
23/23 [==============================] - 0s 10ms/step - loss: 0.4205 - binary_accuracy: 0.8174 - val_loss: 0.5356 - val_binary_accuracy: 0.7821
Epoch 29/200
23/23 [==============================] - 0s 10ms/step - loss: 0.4216 - binary_accuracy: 0.8202 - val_loss: 0.5053 - val_binary_accuracy: 0.7598
Epoch 30/200
23/23 [==============================] - 0s 12ms/step - loss: 0.4370 - binary_accuracy: 0.8020 - val_loss: 0.5379 - val_binary_accuracy: 0.7709
Epoch 31/200
23/23 [==============================] - 0s 10ms/step - loss: 0.4068 - binary_accuracy: 0.8287 - val_loss: 0.5001 - val_binary_accuracy: 0.7989
Epoch 32/200
23/23 [==============================] - 0s 10ms/step - loss: 0.4394 - binary_accuracy: 0.8118 - val_loss: 0.5493 - val_binary_accuracy: 0.7654
Epoch 33/200
23/23 [==============================] - 0s 8ms/step - loss: 0.4196 - binary_accuracy: 0.8160 - val_loss: 0.5019 - val_binary_accuracy: 0.7542
Epoch 34/200
23/23 [==============================] - 0s 12ms/step - loss: 0.4114 - binary_accuracy: 0.8230 - val_loss: 0.5162 - val_binary_accuracy: 0.7709
Epoch 35/200
23/23 [==============================] - 0s 12ms/step - loss: 0.4036 - binary_accuracy: 0.8258 - val_loss: 0.5764 - val_binary_accuracy: 0.7542
Epoch 36/200
23/23 [==============================] - 0s 10ms/step - loss: 0.4173 - binary_accuracy: 0.8174 - val_loss: 0.5293 - val_binary_accuracy: 0.7877
Epoch 37/200
23/23 [==============================] - 0s 9ms/step - loss: 0.4020 - binary_accuracy: 0.8272 - val_loss: 0.4962 - val_binary_accuracy: 0.7654
Epoch 38/200
23/23 [==============================] - 0s 11ms/step - loss: 0.4110 - binary_accuracy: 0.8174 - val_loss: 0.5204 - val_binary_accuracy: 0.7709
Epoch 39/200
23/23 [==============================] - 0s 10ms/step - loss: 0.4186 - binary_accuracy: 0.8104 - val_loss: 0.5748 - val_binary_accuracy: 0.7542
Epoch 40/200
23/23 [==============================] - 0s 9ms/step - loss: 0.4325 - binary_accuracy: 0.8160 - val_loss: 0.5112 - val_binary_accuracy: 0.7709
Epoch 41/200
23/23 [==============================] - 0s 10ms/step - loss: 0.4125 - binary_accuracy: 0.8174 - val_loss: 0.5196 - val_binary_accuracy: 0.7654
Epoch 42/200
23/23 [==============================] - 0s 9ms/step - loss: 0.4099 - binary_accuracy: 0.8188 - val_loss: 0.5036 - val_binary_accuracy: 0.7709
Epoch 43/200
23/23 [==============================] - 0s 10ms/step - loss: 0.4075 - binary_accuracy: 0.8188 - val_loss: 0.5512 - val_binary_accuracy: 0.7765
Epoch 44/200
23/23 [==============================] - 0s 10ms/step - loss: 0.4042 - binary_accuracy: 0.8188 - val_loss: 0.5960 - val_binary_accuracy: 0.7486
Epoch 45/200
23/23 [==============================] - 0s 9ms/step - loss: 0.4348 - binary_accuracy: 0.8076 - val_loss: 0.5034 - val_binary_accuracy: 0.7765
Epoch 46/200
23/23 [==============================] - 0s 10ms/step - loss: 0.4042 - binary_accuracy: 0.8258 - val_loss: 0.4980 - val_binary_accuracy: 0.7821
Epoch 47/200
23/23 [==============================] - 0s 10ms/step - loss: 0.4131 - binary_accuracy: 0.8174 - val_loss: 0.5151 - val_binary_accuracy: 0.7765
Epoch 48/200
23/23 [==============================] - 0s 9ms/step - loss: 0.4260 - binary_accuracy: 0.8132 - val_loss: 0.5451 - val_binary_accuracy: 0.7765
Epoch 49/200
23/23 [==============================] - 0s 9ms/step - loss: 0.4081 - binary_accuracy: 0.8399 - val_loss: 0.5349 - val_binary_accuracy: 0.7654
Epoch 50/200
23/23 [==============================] - 0s 10ms/step - loss: 0.4019 - binary_accuracy: 0.8216 - val_loss: 0.5349 - val_binary_accuracy: 0.7709
Epoch 51/200
23/23 [==============================] - 0s 10ms/step - loss: 0.4139 - binary_accuracy: 0.8090 - val_loss: 0.5502 - val_binary_accuracy: 0.7821
Epoch 52/200
23/23 [==============================] - 0s 10ms/step - loss: 0.4078 - binary_accuracy: 0.8230 - val_loss: 0.4942 - val_binary_accuracy: 0.7821
Epoch 53/200
23/23 [==============================] - 0s 11ms/step - loss: 0.4095 - binary_accuracy: 0.8230 - val_loss: 0.5011 - val_binary_accuracy: 0.7821
Epoch 54/200
23/23 [==============================] - 0s 10ms/step - loss: 0.4055 - binary_accuracy: 0.8287 - val_loss: 0.5970 - val_binary_accuracy: 0.7430
Epoch 55/200
23/23 [==============================] - 0s 9ms/step - loss: 0.3985 - binary_accuracy: 0.8329 - val_loss: 0.5080 - val_binary_accuracy: 0.7765
Epoch 56/200
23/23 [==============================] - 0s 8ms/step - loss: 0.4063 - binary_accuracy: 0.8230 - val_loss: 0.5048 - val_binary_accuracy: 0.7709
Epoch 57/200
23/23 [==============================] - 0s 12ms/step - loss: 0.4070 - binary_accuracy: 0.8244 - val_loss: 0.5261 - val_binary_accuracy: 0.7877
Epoch 58/200
23/23 [==============================] - 0s 10ms/step - loss: 0.3931 - binary_accuracy: 0.8329 - val_loss: 0.5480 - val_binary_accuracy: 0.7765
Epoch 59/200
23/23 [==============================] - 0s 9ms/step - loss: 0.3983 - binary_accuracy: 0.8118 - val_loss: 0.4954 - val_binary_accuracy: 0.7765
Epoch 60/200
23/23 [==============================] - 0s 8ms/step - loss: 0.4066 - binary_accuracy: 0.8104 - val_loss: 0.5725 - val_binary_accuracy: 0.7598
Epoch 61/200
23/23 [==============================] - 0s 10ms/step - loss: 0.4060 - binary_accuracy: 0.8315 - val_loss: 0.5014 - val_binary_accuracy: 0.7877
Epoch 62/200
23/23 [==============================] - 0s 10ms/step - loss: 0.4184 - binary_accuracy: 0.8118 - val_loss: 0.5813 - val_binary_accuracy: 0.7486
Epoch 63/200
23/23 [==============================] - 0s 10ms/step - loss: 0.4174 - binary_accuracy: 0.8174 - val_loss: 0.5657 - val_binary_accuracy: 0.7542
Epoch 64/200
23/23 [==============================] - 0s 10ms/step - loss: 0.3994 - binary_accuracy: 0.8216 - val_loss: 0.5081 - val_binary_accuracy: 0.7877
Epoch 65/200
23/23 [==============================] - 0s 10ms/step - loss: 0.3907 - binary_accuracy: 0.8469 - val_loss: 0.4971 - val_binary_accuracy: 0.7821
Epoch 66/200
23/23 [==============================] - 0s 9ms/step - loss: 0.4050 - binary_accuracy: 0.8244 - val_loss: 0.4967 - val_binary_accuracy: 0.7709
Epoch 67/200
23/23 [==============================] - 0s 9ms/step - loss: 0.3995 - binary_accuracy: 0.8413 - val_loss: 0.6179 - val_binary_accuracy: 0.7430

In [241]:
y_pred = model.predict(X_val)

6/6 [==============================] - 0s 3ms/step

In [242]:
for i in range(len(y_pred)):
    if y_pred[i][0] < 0.5:
        y_pred[i][0] = 0
    else:
        y_pred[i][0] = 1

In [243]:
y_pred[:5]

array([[0.],
       [0.],
       [1.],
       [0.],
       [0.]], dtype=float32)

In [235]:
from sklearn.metrics import classification_report

In [244]:
report = classification_report(y_val, y_pred)
print(report)

              precision    recall  f1-score   support

           0       0.78      0.85      0.81       100
           1       0.79      0.70      0.74        79

    accuracy                           0.78       179
   macro avg       0.78      0.77      0.78       179
weighted avg       0.78      0.78      0.78       179

In [245]:
X_test_pred = model.predict(X_test)

for i in range(len(X_test_)):
    if y_pred[i][0] < 0.5:
        y_pred[i][0] = 0
    else:
        y_pred[i][0] = 1

14/14 [==============================] - 0s 3ms/step

/tmp/ipykernel_10237/33771089.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  submit['PassengerId'] = submit['PassengerId'].astype(int)

In [246]:
submit

     PassengerId  Survived
0            892  0.130417
1            893  0.435971
2            894  0.177838
3            895  0.099742
4            896  0.569117
..           ...       ...
413         1305  0.094641
414         1306  0.980564
415         1307  0.090658
416         1308  0.094641
417         1309  0.118784

[418 rows x 2 columns]

In [ ]:
test_data['Survived'] = X_test_pred
submit = test_data[['PassengerId','Survived']]
submit['PassengerId'] = submit['PassengerId'].astype(int)
submit.to_csv('submission.csv', index=False)